
@padding-bottom:12px;
.type-1981{
    .row{
        border-top: 1px solid #eee;
}
    .container{
        width: 1250px;
    }  
    .col-md-12{
       margin-top: 100px;
    }
    h4{
        color: #333;
        font-family: "UTM Alexander";
        font-size: 1.8em;
        
    }
    .Getintouch{
       p{
            color: #777;
        }  
    }
    .flex{
        display: -webkit-box;
        .varse-social-icon {
            a{
                padding: 0 15px;
            }
             a:hover{
                color: #ff8969;
            }
        }
       
    }
    .follow{
        .form{
            flex: 1 1 auto;
            border: 1px solid #ebebeb;
            input[type="email"] {
                padding-left: 25px;
                padding-right: 50px;
            }
            input[type="submit"] {
                position: absolute;
                top: 130;
                right: 45;
                height: 50px;
                line-height: 44px;
                padding: 0;
                border-radius: 0;
                font-size: 0;
                width: 46px;
                border-left: 1px solid #ebebeb;
               background: url(images/button_newletter.png) no-repeat  left top; 
            }
            img{
                margin-left: 200px;
                margin-top: -95px;
            }
            input{
                font-size: 13px;
                padding: 0 10px 0 10px;
                margin-bottom: 50px;
                flex: 1 1 auto;
                 border: 1px solid #ebebeb;
            }
                padding-top: 20px;
                background: none;
                height: 44px;
                line-height: 50px;
                border-radius: 0;
                margin-bottom: 50px;
                border: 0;
        
        }
        a{ 
            font-size: 15px;
            color: #777;
        }
        a:hover{
            color: #777;
        }
    }
    .needhelp{
        .need{
            .onl{
               padding-bottom: @padding-bottom;
            }
            .cus{
                 padding-bottom:  @padding-bottom;
            }
            .pro{
                padding-bottom:  @padding-bottom;
            }
            .bra{
                padding-bottom:  @padding-bottom;
            }
            .res{
                padding-bottom: @padding-bottom;
            }
        }
        a{
            font-size: 15px;
            color: #777;
        }
         a:hover{
            color: #ff8969;
            text-decoration:none;
        }
    }
    .information{
        .inf{
            .FA{
               padding-bottom:  @padding-bottom;
            }
            .contact{
                 padding-bottom:  @padding-bottom;
            }
            .returns{
                padding-bottom:  @padding-bottom;
            }
            .wish{
                padding-bottom:  @padding-bottom;
            }
            .top{
                padding-bottom:  @padding-bottom;
            }
        }
        a{
            color: #777;
        }
       
    }
     a:hover{
            color: #ff8969;
            text-decoration:none;
        }
     @media (max-width: 400px) {
         .follow{
           .img{
         padding-left: -50px;
        }
       }
        
    }
}