.type-1982{
    @media (max-width: 768px) {
        font-size: 8px;
    }
    .container{
        margin-top: 500px;
        margin-bottom: 30px;
        border-top: 1px solid grey;
    }
    .footer {
     
        padding-top: 30px;
        a{
            color: #8f8f8f;
            padding: 0 20px;
            
        }
        a:hover{
            color: #ff8969;
            text-decoration: none;
        }
    }
    .col-md-6{
        p{
             padding-top: 30px;
             text-align: right;
            a{
                
              text-decoration: none;
            color: #ff8969;
        }
        }
    }
    @media (max-width: 993px) {
        .footer{
            a{
                padding: 0 10px;
            }
        }
        .col-md-6, .col-md-6 p{
            text-align: center;
        }
    }
}
