.type-1982 .container {
  margin-top: 500px;
  margin-bottom: 30px;
  border-top: 1px solid grey;
}
.type-1982 .footer {
  padding-top: 30px;
}
.type-1982 .footer a {
  color: #8f8f8f;
  padding: 0 20px;
}
.type-1982 .footer a:hover {
  color: #ff8969;
  text-decoration: none;
}
.type-1982 .col-md-6 p {
  padding-top: 30px;
}
.type-1982 .col-md-6 p a {
  text-decoration: none;
  color: #ff8969;
}
